@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");

:root {
  --green-theme-background-color: #181818;
  --green-theme-main-color: #0bab4b;
  --green-theme-sub-text-color: #ffffff;
  --green-theme-nav-background-color: #181818;
}
* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  background: var(--green-theme-background-color);
  height: 100%;
}
#root {
  height: 100%;
}
